<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_blast_z0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,782},{228,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,232}}</string>
                <key>sourceSize</key>
                <string>{228,232}</string>
            </dict>
            <key>ani_blast_z0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{246,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,240}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>ani_blast_z0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>ani_blast_z0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{274,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,274}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>ani_blast_z0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,278}}</string>
                <key>sourceSize</key>
                <string>{280,278}</string>
            </dict>
            <key>ani_blast_z0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{258,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,252}}</string>
                <key>sourceSize</key>
                <string>{258,252}</string>
            </dict>
            <key>ani_blast_z0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{260,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,256}}</string>
                <key>sourceSize</key>
                <string>{260,256}</string>
            </dict>
            <key>ani_blast_z0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,522},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>ani_blast_z0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,522},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ani_blast_z0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,268},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>ani_blast_z0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,816},{202,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,218}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
            <key>ani_blast_z0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{202,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,218}}</string>
                <key>sourceSize</key>
                <string>{202,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_blast_z.pvr.ccz</string>
            <key>size</key>
            <string>{794,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b52ccb71e61151a48edc0401a7866fc:1/1$</string>
            <key>textureFileName</key>
            <string>ani_blast_z.pvr.ccz</string>
        </dict>
    </dict>
</plist>
