<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_blast_x_h0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{688,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,64}}</string>
                <key>sourceSize</key>
                <string>{688,64}</string>
            </dict>
            <key>ani_blast_x_h0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{686,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,94}}</string>
                <key>sourceSize</key>
                <string>{686,94}</string>
            </dict>
            <key>ani_blast_x_h0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{682,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,96}}</string>
                <key>sourceSize</key>
                <string>{682,96}</string>
            </dict>
            <key>ani_blast_x_h0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,262},{678,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,102}}</string>
                <key>sourceSize</key>
                <string>{678,102}</string>
            </dict>
            <key>ani_blast_x_h0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,366},{670,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,106}}</string>
                <key>sourceSize</key>
                <string>{670,106}</string>
            </dict>
            <key>ani_blast_x_h0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,474},{654,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,108}}</string>
                <key>sourceSize</key>
                <string>{654,108}</string>
            </dict>
            <key>ani_blast_x_h0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,106}}</string>
                <key>sourceSize</key>
                <string>{634,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_blast_x_h.pvr.ccz</string>
            <key>size</key>
            <string>{800,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:230beb4547b5997c9a5b61c875e4371f:1/1$</string>
            <key>textureFileName</key>
            <string>ani_blast_x_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
