<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_arrow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>ani_arrow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>ani_arrow0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>ani_arrow0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>ani_arrow0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>ani_arrow0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>ani_arrow0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>ani_arrow0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>ani_arrow0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,20}</string>
            </dict>
            <key>ani_arrow0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{44,18}</string>
            </dict>
            <key>ani_arrow0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_arrow.pvr.ccz</string>
            <key>size</key>
            <string>{508,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10af56dc5a79229bc801d26199a6ae10:1/1$</string>
            <key>textureFileName</key>
            <string>ani_arrow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
