<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_standby0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,950},{26,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{26,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{42,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{42,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{52,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{58,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{58,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{60,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{60,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{60,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{60,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{62,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{64,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{64,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{64,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{64,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{66,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{66,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{70,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{68,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{60,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{46,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{46,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ani_standby0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{28,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{28,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ani_standby.pvr.ccz</string>
            <key>size</key>
            <string>{74,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b05c2d52e161dde8cacea0c71155008f:1/1$</string>
            <key>textureFileName</key>
            <string>ani_standby.pvr.ccz</string>
        </dict>
    </dict>
</plist>
