<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaochudonghua0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,342},{178,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{178,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{186,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{186,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,160},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{188,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{196,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{196,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{196,156}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{150,148}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,664},{152,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,510},{152,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{152,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,510},{152,152}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xiaochudonghua0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{152,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{152,152}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaochudonghua.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4658500d32e18a127bc564b4ac67da3c:1/1$</string>
            <key>textureFileName</key>
            <string>xiaochudonghua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
