<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sq_r_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,73},{61,5}}</string>
				<key>spriteOffset</key>
				<string>{0,-35}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,5}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{61,5}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,74},{61,4}}</string>
				<key>spriteOffset</key>
				<string>{0,-36}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,4}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,0},{61,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,65},{61,13}}</string>
				<key>spriteOffset</key>
				<string>{0,-29}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,13}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,0},{61,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,62},{61,16}}</string>
				<key>spriteOffset</key>
				<string>{0,-30}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,16}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,0},{61,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,48},{61,30}}</string>
				<key>spriteOffset</key>
				<string>{0,-20}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,30}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,16},{61,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,42},{61,36}}</string>
				<key>spriteOffset</key>
				<string>{0,-20}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,36}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,16},{61,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,19},{61,59}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,59}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,16},{61,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,12},{61,66}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,66}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,16},{61,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{61,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,73}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,82},{61,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{61,73}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,73}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,82},{61,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,5},{61,73}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,73}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,82},{61,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{61,71}}</string>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,71}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,82},{61,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,11},{61,67}}</string>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,67}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,155},{61,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,16},{61,62}}</string>
				<key>spriteOffset</key>
				<string>{0,-16}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,62}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,155},{61,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,23},{61,55}}</string>
				<key>spriteOffset</key>
				<string>{0,-23}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,55}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,155},{61,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,32},{61,46}}</string>
				<key>spriteOffset</key>
				<string>{0,-32}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,46}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,155},{61,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,33},{61,45}}</string>
				<key>spriteOffset</key>
				<string>{0,-33}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,45}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,222},{61,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,35},{61,43}}</string>
				<key>spriteOffset</key>
				<string>{0,-35}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,43}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,222},{61,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,36},{61,42}}</string>
				<key>spriteOffset</key>
				<string>{0,-36}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,42}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,222},{61,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,37},{61,41}}</string>
				<key>spriteOffset</key>
				<string>{0,-37}</string>
				<key>spriteSize</key>
				<string>{61,78}</string>
				<key>spriteSourceSize</key>
				<string>{61,41}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,222},{61,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>rectMaskIn.png</string>
				<key>textureFileName</key>
				<string>rectMaskIn</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
