<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sq_r_mask copy0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,38},{61,41}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,41}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,0},{61,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,59},{61,20}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,20}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,0},{61,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,50},{61,29}}</string>
				<key>spriteOffset</key>
				<string>{0,-38}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,29}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,0},{61,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,43},{61,36}}</string>
				<key>spriteOffset</key>
				<string>{0,-37}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,36}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,0},{61,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,37},{61,42}}</string>
				<key>spriteOffset</key>
				<string>{0,-36}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,42}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,41},{61,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,36},{61,43}}</string>
				<key>spriteOffset</key>
				<string>{0,-35}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,43}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,41},{61,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,34},{61,45}}</string>
				<key>spriteOffset</key>
				<string>{0,-33}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,45}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,41},{61,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,34},{61,45}}</string>
				<key>spriteOffset</key>
				<string>{0,-32}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,45}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,41},{61,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,25},{61,54}}</string>
				<key>spriteOffset</key>
				<string>{0,-23}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,54}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,86},{61,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,19},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,-16}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,86},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,13},{61,66}}</string>
				<key>spriteOffset</key>
				<string>{0,-10}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,66}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,86},{61,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,10},{61,69}}</string>
				<key>spriteOffset</key>
				<string>{0,-6}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,69}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,86},{61,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,8},{61,71}}</string>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,71}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,155},{61,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{61,72}}</string>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,72}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,155},{61,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,7},{61,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,72}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,155},{61,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,13},{61,66}}</string>
				<key>spriteOffset</key>
				<string>{0,-5}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,66}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,155},{61,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,20},{61,59}}</string>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,59}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{0,227},{61,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,43},{61,36}}</string>
				<key>spriteOffset</key>
				<string>{0,-20}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,36}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{61,227},{61,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,49},{61,30}}</string>
				<key>spriteOffset</key>
				<string>{0,-20}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,30}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{122,227},{61,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sq_r_mask copy0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,63},{61,16}}</string>
				<key>spriteOffset</key>
				<string>{0,-30}</string>
				<key>spriteSize</key>
				<string>{61,79}</string>
				<key>spriteSourceSize</key>
				<string>{61,16}</string>
				<key>spriteTrimmed</key>
				<true/>
				<key>textureRect</key>
				<string>{{183,227},{61,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>rectMaskOut.png</string>
				<key>textureFileName</key>
				<string>rectMaskOut</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
