<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rollover_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,0},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,0},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,50},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,50},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,50},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,100},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,100},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,100},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,150},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,150},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,150},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,200},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,200},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,200},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,250},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,250},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,250},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,300},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,300},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,300},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rollover_effect0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,50}</string>
				<key>spriteSourceSize</key>
				<string>{130,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,350},{130,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>whiteFlip.png</string>
				<key>textureFileName</key>
				<string>whiteFlip</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
